<div class="article-actions">
  <%= link_to "Edit this #{model.class.name.downcase}", method("edit_#{model.class.name.downcase}_path").call(model), class:"btn btn-xs btn-primary" %>
  <%=	 link_to "Delete this #{model.class.name.downcase}", method("article_path").call(model), method: :delete, data:{confirm: "Are you sure want to delete the #{model.class.name.downcase}?"}, class:"btn btn-xs btn-danger" %>
  <% if !defined? index %>
  <%=	 link_to "View all #{model.class.name.downcase.pluralize()}", articles_path, class: 'btn btn-xs btn-success' %>
  <% end %>
</div>